* {
  box-sizing: border-box;
}

p {
  font-family: Roboto;
}

span {
  font-family: Roboto;
}

header {
  display: flex;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 80px;
  width: 100%;
  top: 0;
  box-shadow: 0px 4px 6px 0px #0000000D;
  img {
    width: 75px;
  }
  ion-icon {
    font-size: 45px;
  }
}

main {
  min-height: 100vh;
  background-color: #f3f3f3;
  padding: 100px 0 84px 0;
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    li {
      display: flex;
      min-height: 40px;
      padding: 10px;
      p {
        line-height: 20px;
        font-size: 14px;
      }
      span {
        font-size: 14px;
        color: #AAAAAA;
      }
    }
  }
}

.status-message {
  background-color: #dcdcdc;
}

.global-message {
  background-color: white;
}

.direct-message {
  background-color: #FFDEDE;
}

form {
  display: flex;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 80px;
  width: 100%;
  bottom: 0;
  box-shadow: 0px -4px 6px 0px #0000000D;
  column-gap: 15px;
  .text-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 10px;
    input {
      font-family: Roboto;
      background-color: none;
      font-size: 18px;
      padding: 0;
      border: none;
      &::placeholder {
        color: black;
        font-style: italic;
      }
    }
    span {
      font-size: 14px;
      font-weight: 300;
    }
  }
  ion-icon {
    font-size: 26px;
  }
}

.overlay {
  position: fixed;
  z-index: 70;
  background-color: #00000099;
  width: 100vw;
  height: 100vh;
}

.settings {
  position: fixed;
  z-index: 100;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 70%;
  padding: 25px;
  row-gap: 25px;
  ul{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .selection {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
    img {
      height: 11px;
    }
  }
  span {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
  }
  p {
    font-size: 16px;
    font-weight: 19px;
  }
  .peoples {
    ion-icon {
      font-size: 25px;
    }
  }
  .visibility {
    ion-icon {
      font-size: 22px;
    }
  }
}

.hidden {
  display: none;
}